.add-btn {
   text-decoration: none;
   width: 100%;
   display: flex;
   justify-content: center;
}

.search-filter {
   font-style: italic;
}

@media screen and (min-width: 768px){
   .add-btn {
      width: 25%;
   }
}